<h1 mat-dialog-title>Platforms we Support
  <div fxFlex></div>
  <button mat-icon-button (click)="onCloseModal()">
    <mat-icon aria-label="close add platform modal">close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <div class="ripple-container" fxFlex matRipple *ngFor="let platform of data">
    <i *ngIf="platform === 'facebook'" class="fa fa-facebook-official fa-5x" aria-hidden="true"></i>
    <i *ngIf="platform === 'instagram'" class="fa fa-instagram fa-5x" aria-hidden="true"></i>
    <i *ngIf="platform === 'twitter'" class="fa fa-twitter fa-5x" aria-hidden="true"></i>
    <i *ngIf="platform === 'linkdin'" class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onCloseModal()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
