:host, section {
  height: 100%;
}

aside, main {
  padding: 2%;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 4px 0;
}

.sidenav-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.avatar {
  background-image: url('https://i.pravatar.cc/300');
  background-size: cover;
}

.sidenav.half-menu {
  width: 100px;
}
